.nav-link {
    margin-right: 20%;
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
.nav-link:hover, .nav-link:focus {
    color: #0a58ca; }
.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default; }


.dropdown-toggle {
    white-space: nowrap; }
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent; }
.dropdown-toggle:empty::after {
    margin-left: 0; }


.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.25rem;
    margin: auto;
    font-size: 0.9rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.7rem; }
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0.125rem; }
.dropdown-menu-start {
    --bs-position: start; }
.dropdown-menu-start[data-bs-popper] {
    right: auto;
    left: 0; }
.dropdown-menu-end {
    --bs-position: end; }
.dropdown-menu-end[data-bs-popper] {
    right: 0;
    left: auto; }
.dropdown-menu hr{
    margin: 4px;
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: 0.5rem; }
.dropdown-item:hover, .dropdown-item:focus {
    color: #1e2125;
    background-color: #e9ecef; }
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd; }
.dropdown-item.disabled, .dropdown-item:disabled {
    color: #adb5bd;
    pointer-events: none;
    background-color: transparent; }

/* Create page in Admin */
.card{
    width: 100%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
.btn:hover {
    color: #212529; }
.btn-primary {
    color: #000;
    background-color: #599AFD;
    border-color: #477BC9; }
.btn-primary:hover {
    color: #fff;
    background-color: #599AFD;
    border-color: #477BC9; }
.btn-info {
    color: #000;
    background-color: #52CA86;
    border-color: #3E9664; }
.btn-info:hover {
    color: #fff;
    background-color: #52CA86;
    border-color: #3E9664; }
.btn-danger {
    color: #000;
    background-color: #FF5757;
    border-color: #CC4545; }
.btn-danger:hover {
    color: #fff;
    background-color: #FF5757;
    border-color: #CC4545; }

/* Alert */
.alert{
    border-radius: 0.5rem;
    border-color: white;
    background-color: #83F29D; }
